.reveal h1.title {
    font-size: 2em;
}
.reveal section h2.author {
    font-size: 1em;
}
.reveal section h2.date {
    font-size: 0.75em;
}

.slide-header {
    font-size: 20px !important;
    position: absolute;
    top: 0;
    right: 0
}

.reveal pre#smallcode {
    font-size: 0.32em;
}

.reveal td {
    font-size: 24px !important;
}

img {
    border-style: none !important;
}
